.contaner {
  max-width: 1024px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
}
.contaner h1 {
  text-transform: capitalize;
  font-weight: 500;
  width: 600px;
  text-align: center;
}
